@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #25282a; */
  /* background: url(nikolas-noonan-fQM8cbGY6iQ-unsplash.jpg); */
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  /* background-size: cover;
  background-repeat: no-repeat; */
}
#main {
  z-index: 1000;
}
.icon {
  display: flex;
  color: #25282a;
  align-items: center;
  font-weight: normal;
  padding: 0 0.75em 0 0;
}
form {
  position: relative;
}

form span {
  position: absolute;
  top: 1.2em;
  margin-left: 3px;
  padding: 0.55em 1.5em;
  font-size: 1em;
  color: #25282a;
}
input {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  font-family: inherit;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  font-size: 1rem;
}
input:focus {
  outline: none;
}
.weather {
  text-align: center;
  font-size: 2rem;
}
.weather h2 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
/* Footer

All rights*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #c1c0c0;
  text-align: center;
  padding: 10px;
  font-size: 0.7em;
}
/* snow 

SNOW*/

.snow-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.snow {
  position: absolute;
  background-color: #f2f4f5;
  width: 5px;
  height: 5px;
  border-radius: 0px 96px 96px 96px;
  animation: snow 10s linear infinite;
  rotate: 45deg;
  opacity: 0;
}

.snow:nth-of-type(1) {
  left: 10%;
  animation-delay: 0s;
}

.snow:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}

.snow:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}

.snow:nth-of-type(4) {
  left: 40%;
  animation-delay: 1.5s;
}

.snow:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}

.snow:nth-of-type(6) {
  left: 60%;
  animation-delay: 3.5s;
}

.snow:nth-of-type(7) {
  left: 70%;
  animation-delay: 4s;
}

.snow:nth-of-type(8) {
  left: 80%;
  animation-delay: 4.5s;
}

.snow:nth-of-type(9) {
  left: 90%;
  animation-delay: 5s;
}

.snow:nth-of-type(10) {
  left: 100%;
  animation-delay: 5.5s;
}
.snow:nth-of-type(11) {
  left: 5%;
  animation-delay: 0s;
}
.snow:nth-of-type(12) {
  left: 10%;
  animation-delay: 6s;
}
.snow:nth-of-type(13) {
  left: 7%;
  animation-delay: 5.5s;
}
.snow:nth-of-type(14) {
  left: 10%;
  animation-delay: 4s;
}
.snow:nth-of-type(15) {
  left: 15%;
  animation-delay: 5s;
}
.snow:nth-of-type(16) {
  left: 20%;
  animation-delay: 3s;
}
.snow:nth-of-type(17) {
  left: 25%;
  animation-delay: 3.5s;
}
.snow:nth-of-type(18) {
  left: 30%;
  animation-delay: 4.5s;
}
.snow:nth-of-type(19) {
  left: 40%;
  animation-delay: 2s;
}
.snow:nth-of-type(20) {
  left: 50%;
  animation-delay: 1.5s;
}
@keyframes snow {
  /* 0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vh);
  } */
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}
/* City */
:root {
  --building-color1: #aa80ff;
  --building-color2: #66cc99;
  --building-color3: #cc6699;
  --building-color4: #538cc6;
  --window-color1: #bb99ff;
  --window-color2: #8cd9b3;
  --window-color3: #d98cb3;
  --window-color4: #8cb3d9;
}

* {
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
} */

.background-buildings,
.foreground-buildings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
}

.building-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sky {
  background: radial-gradient(
    closest-corner circle at 15% 15%,
    #ffcf33,
    #ffcf33 20%,
    #ffff66 21%,
    #bbeeff 100%
  );
}

/* BACKGROUND BUILDINGS - "bb" stands for "background building" */
.bb1 {
  width: 10%;
  height: 70%;
}

.bb1a {
  width: 70%;
}

.bb1b {
  width: 80%;
}

.bb1c {
  width: 90%;
}

.bb1d {
  width: 100%;
  height: 70%;
  background: linear-gradient(var(--building-color1) 50%, var(--window-color1));
}

.bb1-window {
  height: 10%;
  background: linear-gradient(var(--building-color1), var(--window-color1));
}

.bb2 {
  width: 10%;
  height: 50%;
}

.bb2a {
  border-bottom: 5vh solid var(--building-color2);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}

.bb2b {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--building-color2),
    var(--building-color2) 6%,
    var(--window-color2) 6%,
    var(--window-color2) 9%
  );
}

.bb3 {
  width: 10%;
  height: 55%;
  background: repeating-linear-gradient(
    90deg,
    var(--building-color3),
    var(--building-color3),
    var(--window-color3) 15%
  );
}

.bb4 {
  width: 11%;
  height: 58%;
}

.bb4a {
  width: 3%;
  height: 10%;
  background-color: var(--building-color4);
}

.bb4b {
  width: 80%;
  height: 5%;
  background-color: var(--building-color4);
}

.bb4c {
  width: 100%;
  height: 85%;
  background-color: var(--building-color4);
}

.bb4-window {
  width: 18%;
  height: 90%;
  background-color: var(--window-color4);
}

/* FOREGROUND BUILDINGS - "fb" stands for "foreground building" */
.fb1 {
  width: 10%;
  height: 60%;
}

.fb1a {
  border-bottom: 7vh solid var(--building-color4);
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
}

.fb1b {
  width: 60%;
  height: 10%;
  background-color: var(--building-color4);
}

.fb1c {
  width: 100%;
  height: 80%;
  background: repeating-linear-gradient(
      90deg,
      var(--building-color4),
      var(--building-color4) 10%,
      transparent 10%,
      transparent 15%
    ),
    repeating-linear-gradient(
      var(--building-color4),
      var(--building-color4) 10%,
      var(--window-color4) 10%,
      var(--window-color4) 90%
    );
}

.fb2 {
  width: 10%;
  height: 40%;
}

.fb2a {
  width: 100%;
  border-bottom: 10vh solid var(--building-color3);
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
}

.fb2b {
  width: 100%;
  height: 75%;
  background-color: var(--building-color3);
}

.fb2-window {
  width: 22%;
  height: 100%;
  background-color: var(--window-color3);
}

.fb3 {
  width: 10%;
  height: 35%;
}

.fb3a {
  width: 80%;
  height: 15%;
  background-color: var(--building-color1);
}

.fb3b {
  width: 100%;
  height: 35%;
  background-color: var(--building-color1);
}

.fb3-window {
  width: 25%;
  height: 80%;
  background-color: var(--window-color1);
}

.fb4 {
  width: 8%;
  height: 45%;
  position: relative;
  left: 10%;
}

.fb4a {
  border-top: 5vh solid transparent;
  border-left: 8vw solid var(--building-color1);
}

.fb4b {
  width: 100%;
  height: 89%;
  background-color: var(--building-color1);
  display: flex;
  flex-wrap: wrap;
}

.fb4-window {
  width: 30%;
  height: 10%;
  border-radius: 50%;
  background-color: var(--window-color1);
  margin: 10%;
}

.fb5 {
  width: 10%;
  height: 33%;
  position: relative;
  right: 10%;
  background: repeating-linear-gradient(
      var(--building-color2),
      var(--building-color2) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      90deg,
      var(--building-color2),
      var(--building-color2) 12%,
      var(--window-color2) 12%,
      var(--window-color2) 44%
    );
}

.fb6 {
  width: 9%;
  height: 38%;
  background: repeating-linear-gradient(
      90deg,
      var(--building-color3),
      var(--building-color3) 10%,
      transparent 10%,
      transparent 30%
    ),
    repeating-linear-gradient(
      var(--building-color3),
      var(--building-color3) 10%,
      var(--window-color3) 10%,
      var(--window-color3) 30%
    );
}

@media (max-width: 1000px) {
  :root {
    --building-color1: #000;
    --building-color2: #000;
    --building-color3: #000;
    --building-color4: #000;
    --window-color1: #777;
    --window-color2: #777;
    --window-color3: #777;
    --window-color4: #777;
  }
  .sky {
    background: radial-gradient(
      closest-corner circle at 15% 15%,
      #ccc,
      #ccc 20%,
      #445 21%,
      #223 100%
    );
  }
  .snow {
    opacity: 1;
  }
}
